# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log

# Virtual environment
venv

# ------------------------------
# Environment & Config Files
# ------------------------------
*.env


# ------------------------------
# FastAPI / Uvicorn
# ------------------------------
*.pid
*.db-journal

# ------------------------------
# Logs
# ------------------------------
logs/
*.log
